body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}
ttt-game {
    flex: 1;
    max-width: 100cqmin;
    max-height: 100cqmin;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    gap: 1em;
}
ttt-brett {
    background-color: blue;
    border-radius: 2%;
    flex: 1;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    display: grid;
    gap: clamp(0.2em, 5cqmin, 1em);
    padding: clamp(0.2em, 5cqmin, 1em);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
ttt-zelle {
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 2px 2px 5px 5px darkblue;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 25cqmin;
    font-family: monospace;

/* hier */      background-color: yellow;
}